<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf8">
  <title>{{.Title}}</title>
 </head>
 <body>  
 
<form action="/otdelenie" id="data" method="post">
<p><label for="release">Отделение: </label>
<select id="data" name="otdelenie">
	<option value="169">Первое</option>
	<option value="173">Второе</option>
	<option value="178">Третье</option>
</select></p>
<p><input type="submit" form="data" value="Отправить"></p>
</form>

 </body>
</html>